@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,.nav_dropdown{
 background-image: url(../public/images/my\ background.jpeg);
color: white;

}

.nav_dropdown{
  background-attachment: fixed;
}
.one:hover span {
  width: 50%;
}

/* Global styles */
.grid_view{
 grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
 grid-gap:26px;
}
.mystroke{
  -webkit-background-clip: text;
  -webkit-text-stroke: 4px transparent;
  color: rgb(214, 219, 220);
  letter-spacing: 5px;
}
.skill_grid{
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr))
}

@media (min-width: 1024px) {
.works_section .card-container:nth-child(2n+1){
  flex-direction: row-reverse;
}
}